.dx-scheduler-date-table-other-month.dx-scheduler-date-table-cell {
    opacity: 1;
    color: rgba(0, 0, 0, 0.3);
}

.dx-template-wrapper, .dx-scheduler-date-table-cell {
    position: relative;
}

.dx-scheduler-date-table-cell .dx-template-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

.avatar {
    width: 155px;
    float: left;
    overflow: hidden;
    position: relative;
    height: 125px;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.name h2 {
    color: #fff;
    text-align: center;
    padding: 0 0 5px 175px;
    margin: 0;    
}

.dx-theme-material .name h2 {
    font-size: 28px;
}

.info {
    width: auto;
    text-align: center;
    height: 100%;
    font-size: 14pt;
    font-weight: normal;
    padding: 25px 20px;
    color: #707070;
}

.dx-color-scheme-contrast .info {
    color: #FFF;
}

.userInfo div {
    margin: 20px;
}

.day-cell {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.type-1 {
    background-color: #FF00AE;
}

.type-2 {
    background-color: #00FFA9;
}

.type-3 {
    background-color: #B34EE9;
}

.employee-weekend-1 {
    background-color: #FFF1DE;
    
}

.training-background-0 {
    background-image: url("https://js.devexpress.com/Demos/WidgetsGallery/JSDemos/images/gym/icon-abs.png");
}

.training-background-1 {
    background-image: url("https://js.devexpress.com/Demos/WidgetsGallery/JSDemos/images/gym/icon-step.png");
}

.training-background-2 {
    background-image: url("https://js.devexpress.com/Demos/WidgetsGallery/JSDemos/images/gym/icon-fitball.png");
}
